.clear{
  clear: both;
}
.site{
  width: 940px;
  margin-right: auto;
  margin-left: auto;

}
body{
  background-image: url("img/body.png");
  background-repeat: repeat-x;
  font-family: "Arial";
  font-size: 11px;
  color: black;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.header{
  margin-top: 80px;
}
.header .logo{
  float: left;
}
.header .rightbar{
  float: right;
  margin-top: 10px;

}
.header .rightbar .contact{
  font-size: 11px;
  padding-left: 15px;
  background-image: url("img/tel.png");
  background-repeat: no-repeat;
  background-position: left center;
}
.header .rightbar .contact strong{
  font-weight: 700;
}
.header .rightbar .language-menu{
  float: right;
}
.header .rightbar .language-menu ul li{
  float: left;
  margin-left: 5px;
}
.header .rightbar .language-menu ul li:first-child{
  margin-left:0;
}
.header .navigasyon{
  margin-top: 20px;
  border: 1px solid gray;
}
.header .navigasyon ul>li{
  float: left;
  border-left: 1px solid gray;
  position: relative;
}
.header .navigasyon ul>li:first-child{
  border-left: 0;
}
.header .navigasyon ul>li>a{
  padding: 10px;
  text-decoration: none;
  color: black;
  display:inline-block;
}
.header .navigasyon ul>li>a:hover{
  background-color: orange;
  color: white;
}
.header .navigasyon .submenu{
  display: none;
  width: 120px;
  position: absolute;
  top: 33px;
  left: 0;
  background-color: red;
}
.header .navigasyon .submenu a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
.header .navigasyon li:hover .submenu{
  display: block;
}
.content {
margin-top: 20px;
}
.content .banner{
  border: 1px solid gray;
}
.content .banner img{
  display: block;
}
.content .content-text{
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}
.content .text-list{
  margin-top: 20px;
}
.content .text{
  width: 300px;
  float: left;
  margin-left: 20px;
}
.content .text:first-child{
  margin-left: 0;
}
.content .text p.title{
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  background-repeat: no-repeat;
  line-height: 40px;
  padding-left: 40px;
  background-position: left center;
}
.content .text:nth-child(1) p.title{
  background-image: url("img/home-list_01.png");
}
.content .text:nth-child(2) p.title{
  background-image: url("img/home-list_02.png");
}
.content .text:nth-child(3) p.title{
  background-image: url("img/home-list_03.png");
}
